.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    color: black;
}

.massage__user {
    margin-left: auto;
    color: #fff;
    text-align: left !important;
}

.massage__userCard {
    background-color: #0b81ff !important;
}

.massage__guestCard {
    background-color: #383880 !important;
}